<!DOCTYPE html>
<html>
<head lang="en">
    <!-- AWM: Make sure to add charset UTF-8, I ready d3 charts require it. -->
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <title></title>

    <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/styles/chart-tsv.css">

    <script src="/scripts/chart-tsv.js"></script>

    <style>
        .pageWrapper {
            margin: 5px;
        }
        .tab-content {
            border: 1px solid #ddd;
            border-top: 0px;
            padding: 5px;
        }
        .chartWell {
            margin-top: 10px;
            display: none;
        }
    </style>

</head>
<body>

<div class="container-fluid">

    <div class="row pageWrapper">
        <div class="col-md-8">

            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#svgExample" aria-controls="svgExample" role="tab" data-toggle="tab">SVG</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="svgExample">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">SVG - Example</h3>
                            </div>
                            <div class="panel-body">
                                <p>Let's build a little page that accepts a search term (keyword) and hits the NSF search URL, gets the results and summarizes the award counts by state, using the property "awardeeStateCode".:</p>
                                <div class="exercise">
                                    <div class="control">
                                        <div class="input-group" id="search">
                                            <input type="text " id="search-term-svg" placeholder="keyword - e.g. 'water' " />
                                        </div>
                                    </div>
                                </div>
                                <div class="well well-lg chartWell">
                                    <h4>Summary of award counts by state:</h4>
                                    <svg class="chart-svg"></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div id="nav"><a href="d3Example.html">SVG</a> | <a  href="d3-tsv-Example.html">TSV</a></div>
            <h4>Description:</h4>

            test with d3.json. might not need jsonp

            <ul>
                <li>accepts the user input</li>
                <li>call to the above nsf search URL</li>
                <li>draw the bar chart using d3 code</li>
            </ul>

        </div>
    </div>

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</body>
</html>