<meta charset="utf-8">
<div class="row">
    <div class="col-sm-8 col-xs-7 user-details">
        <div class="row">
            Armando Musto - Full stack javascript developer | <a href="mailto:armando.musto@gmail.com">armando.musto@gmail.com</a>
        </div>
        <div class="row">
            <a href="assets/armando musto - Lead developer.docx"><button type="button" class="btn btn-primary btn-xs" style="margin-right:10px;">Download resume</button></a>
            <a href="https://www.linkedin.com/in/armandomusto"><img src="assets/linkedin.png"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 user-description">
        <p>Lead developer with over 15 years experience developing in a wide-range of environments. Focus is building web based systems, having designed/built solutions in a wide variety of business models.</p>
        <p>As a developer I strive to offer a semantic approach, incorporating a OOP approach, best practices and what can be agreed is the ideal technical stack as it might apply to the a client's and project's particular needs.</p>
        <p>Striving to be agnositc when it comes to language, understanding how the developers role is ever-changing.</p>
        <p>Currently working with Node.js, Angular, and React.</p>
    </div>
</div>
