<!--div style="margin:10px;">
    <uib-tabset active="active">
        <uib-tab index="0" heading="Static title">Static content</uib-tab>
        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
            {{tab.content}}
        </uib-tab>
    </uib-tabset>
</div-->

    <div>
        <h3>Code Review</h3>
        <div class="xs-mbh0">
            <span ng-repeat="language in programmingLanguages" class="profile__skill-badge badge badge--pill badge--white-dark text-medium text-normal xs-mbh0" ng-click="updateSkillStatus($index)" ng-class="{'skill-selected':language.selected}">{{language.name}}</span>
        </div>
    </div>

    <!-- TODO: replace with a directive -->
    <div class="row check-element sample-show-hide" ng-repeat="review in profileCodeReview" ng-show="displayCodeReview(review.skills)">
        <div class="col-xs-12 codeDescription">
            <span style="font-weight:bold;">{{review.title}}</span>
            <div class="well well-lg">
                <p>{{review.header}} </p>
                <div class="resource-section" ng-if="review.resources.length > 0">
                    <a class="btn btn-default skill-resource-button" target="_blank" href="{{resource.url}}" role="button" ng-repeat="resource in review.resources">{{resource.text}}</a>
                </div>
                <div class="desc-skills">
                    <span ng-repeat="language in review.skills" class="profile__skill-badge badge badge--pill badge--white-dark text-medium text-normal xs-mbh0 skill-selected">{{language}}</span>
                </div>
            </div>
        </div>
    </div>

    <!--
        Review my gists for ideas
        present Node service (maybe xml to json converter for APA
    -->