<meta charset="utf-8">
<div class="row">
    <div class="col-sm-8 col-xs-7 user-details">
        <div class="row">
            Armando Musto - Full stack javascript developer | <a href="mailto:armando.musto@gmail.com">armando.musto@gmail.com</a>
        </div>
        <div class="row">
            <a href="assets/armando musto - Lead developer.docx"><button type="button" class="btn btn-primary btn-xs" style="margin-right:10px;">Download resume</button></a>
            <a href="https://www.linkedin.com/in/armandomusto"><img src="assets/linkedin.png"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 user-description">
        <p>Senior Developer with strong Backend and Frontend experience spread out over 15 years on Enterprise systems and teams. Over 5+ years experience working with Node, React, Angular.js, Redux, MongoDB, ES2015, ES6, various build and deployment worlds.</p>
        <p>As a developer I strive to offer a semantic approach, incorporating a OOP approach, best practices and what can be agreed is the ideal technical stack as it might apply to the client and projects requirements.</p>
        <p>Striving to be agnostic when it comes to a programming language, understanding how the developers role is ever-changing.</p>
        <p>Currently working with Node.js, React and Express.</p>
    </div>
</div>
