<div class="panel panel-primary">
    <div class="panel-heading" style="min-height: 40px;"> <h3 class="panel-title pull-left">Armando Musto - Software Engineer/Architect</h3> <span class="glyphicon pull-right" ng-click="isCollapsed = !isCollapsed" ng-class="{'glyphicon-chevron-right':isCollapsed, 'glyphicon-chevron-down':!isCollapsed}" aria-hidden="true"></span></div>

    <div class="panel-body" uib-collapse="isCollapsed">
        <div class="row">
            <div class="col-sm-2 user-image-col text-center">
                <a href="https://www.linkedin.com/in/armandomusto"><img src="https://www.gravatar.com/avatar/b7cf4d5a166284d7f2cb1b71c3e1ccdb"></a>
                <a href="https://www.linkedin.com/in/armandomusto"><img src="assets/linkedin.png"></a>
            </div>
            <div class="col-sm-8">
                <div style="font-weight: bold; width: 100%">Armando Musto</div>
                <div style="font-weight: bold; width: 100%">Senior Software Engineer/Architect</div>
                <div>React | Redux | AWS | DevOps</div>
            </div>
            <div class="col-sm-12 user-description">
                <p>Senior Software Engineer/Architect with experience spanning over 20 years.</p>
                <!-- <p>I specialize in creating fast progressive web applications with a focus on productive development practices and ideal frameworks for our projects.</p> -->
                <p>I try to keep my portfolio up to date and live, email for resume.</p>
            </div>
        </div>
    </div>
</div>
