<div class="panel panel-primary">
    <div class="panel-heading" style="min-height: 40px;"> <h3 class="panel-title pull-left">Armando Musto - Software Developer</h3> <span class="glyphicon pull-right" ng-click="isCollapsed = !isCollapsed" ng-class="{'glyphicon-chevron-right':isCollapsed, 'glyphicon-chevron-down':!isCollapsed}" aria-hidden="true"></span></div>

    <div class="panel-body" uib-collapse="isCollapsed">
        <div class="row">
            <div class="col-sm-2 user-image-col text-center">
                <a href="https://www.linkedin.com/in/armandomusto"><img src="https://www.gravatar.com/avatar/b7cf4d5a166284d7f2cb1b71c3e1ccdb"></a>
                <a href="https://www.linkedin.com/in/armandomusto"><img src="assets/linkedin.png"></a>
            </div>
            <div class="col-sm-8">
                <div style="font-weight: bold">Armando Musto - Senior Software Developer</div>
                <div>NodeJS | React | Redux | MongoDB</div>
            </div>
            <div class="col-sm-12 user-description">
                <p>Senior Developer with strong Backend and Frontend experience spread out over 15 years on Enterprise systems and teams. Over 5+ years experience working with Node, React, Angular.js, Redux, MongoDB, ES2015, ES6, various build and deployment worlds.</p>
                <p>I specialize in creating fast progressive web applications with a focus on productive development practices and ideal frameworks for our projects.</p>
                <p>As a developer I strive to use OOP best practices and what is the ideal technical stack as it might apply to the client and projects requirements.</p>
                <p>Recently my focus is with Isomorphic application that cover the fullstack, mainly using Javascript, NodeJS and React.</p>

                <p>I try to keep my portfolio up to date and live, please email me with any questions.</p>
            </div>
        </div>
    </div>
</div>