<meta charset="utf-8">
<div class="row">
    <div class="col-sm-3 col-xs-4">
        <img src="assets/395206_10150592677883068_920629903_n.jpg" width="120px" id="my-image">
    </div>
    <div class="col-sm-8 col-xs-7 user-details">
        Armando Musto<br>
        <a href="mailto:armando.musto@gmail.com">armando.musto@gmail.com</a>

        <div class="linksBox">
            <a href="assets/armando musto - Lead developer.docx"><button type="button" class="btn btn-primary btn-xs" style="margin-right:10px;">Download resume</button></a>
            <a href="https://www.linkedin.com/in/armandomusto"><img src="assets/linkedin.png"></a>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 user-description">
        <p>Lead developer with over 15 years experience developing in a wide-range of environments. Focus is building web based systems, having designed/built solutions in a wide variety of business models.</p>
        <p>As a developer I strive to offer a semantic approach, incorporating a OOP approach, best practices and what can be agreed is the ideal technical stack as it might apply to the a client's and project's particular needs.</p>
        <p>Recently my focus is in the advanced UI development world, mainly involving Javascript, Node and Angular driven solutions. I am working on redefining how I think we view the UI developers role.</p>
    </div>
</div>