<div class="container">
    <div class="row">
        <h3>Projects/Code samples</h3>
        <div class="col-sm-5 skills-list">Angular <input type="checkbox" ng-model="programmingLanguages.angular" name="angular" value="angular"> Coldfusion <input type="checkbox" ng-model="programmingLanguages.coldfusion" name="coldfusion" value="coldfusion"> </div>
    </div>

    <div class="row check-element sample-show-hide" ng-show="programmingLanguages.angular">
        <div class="col-xs-12 codeDescription">
            <span style="font-weight:bold;">Custom Angular Tabs Directive</span>
            <div class="well well-lg">
                <p>Angular directive providing tabs vertically, pulling content from templates</p>
                <div>
                    <a class="btn btn-default" target="_blank" href="https://github.com/amusto/ngVerticalTabs" role="button">Code</a>
                    <a class="btn btn-default" target="_blank" href="http://plnkr.co/edit/vPdszEEHFUIXdfZZ2dyQ?p=preview" role="button">Plunker</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row check-element sample-show-hide" ng-show="programmingLanguages.angular">
        <div class="col-xs-12 codeDescription">
            <span style="font-weight:bold;">Angular directive using a Javascript datepicker</span>
            <div class="well well-lg">
                <p>Angular directive created to wrap a Javascript datepicker</p>
                <div>
                    <a class="btn btn-default" target="_blank" href="https://github.com/amusto/ngJavascriptDatePicker" role="button">Code</a>
                    <a class="btn btn-default" target="_blank" href="http://plnkr.co/edit/LC1TvmK8xKXczujjJLza?p=preview" role="button">Plunker</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row check-element sample-show-hide" ng-show="programmingLanguages.angular && programmingLanguages.coldfusion || programmingLanguages.coldfusion">
        <div class="col-xs-12 codeDescription">
            <span style="font-weight:bold;">Contact manager built using AngularJS Contacts</span>
            <div class="well well-lg">
                <p>Contact manager built using AngularJS Contacts are originally pulled from a webservice via jquery using $.getJSON</p>
                <p><a class="btn btn-default" target="_blank" href="https://github.com/amusto/ngContactManager" role="button">Code and Demo</a></p>
            </div>
        </div>
    </div>

    <div class="row check-element sample-show-hide" ng-show="programmingLanguages.angular">
        <div class="col-xs-12 codeDescription">
            <span style="font-weight:bold;">Simple exercise demonstrating programming concepts</span>
            <div class="well well-lg">
                <p>Simple exercise demonstrating programming concepts<br> Used Angular and Node as the stack.</p>
                <p><a class="btn btn-default" target="_blank" href="https://github.com/amusto/ngAirTrafficControlSystem" role="button">Code and Demo</a></p>
            </div>
        </div>
    </div>

    <!--
        Review my gists for ideas
        present Node service (maybe xml to json converter for APA
    -->


</div>