<!--div style="margin:10px;">
    <uib-tabset active="active">
        <uib-tab index="0" heading="Static title">Static content</uib-tab>
        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
            {{tab.content}}
        </uib-tab>
    </uib-tabset>
</div-->



    <div class="row">
        <div class="col-md-4 pull-right header-section">
            <h3>Code review</h3>
        </div>

        <div class="col-md-8 pull-left">
            <span ng-repeat="language in programmingLanguages" class="profile__skill-badge badge badge--pill badge--white-dark text-medium text-normal xs-mbh0" ng-click="updateSkillStatus($index)" ng-class="{'skill-selected':language.selected}">{{language.name}}</span>
        </div>
    </div>

    <!-- TODO: replace with a directive -->
    <div class="row check-element sample-show-hide" ng-repeat="review in profileCodeReview" ng-show="displayCodeReview(review.skills)">
        <div class="col-xs-12 codeDescription">
            <!--button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Toggle collapse</button-->
            <span style="font-weight:bold;">{{review.title}}</span> <a href="" aria-hidden="true" ng-click="review.collapsed = !review.collapsed" style="font-family:arial; text-decoration: none;">(review)</a>
            <div class="well well-lg" uib-collapse="review.collapsed">
                <p>{{review.header}} </p>
                <div class="resource-section" ng-if="review.resources.length > 0">
                    <a class="btn btn-default skill-resource-button" target="_blank" href="{{resource.url}}" role="button" ng-repeat="resource in review.resources">{{resource.text}}</a>
                </div>
                <div class="desc-skills">
                    <span ng-repeat="language in review.skills" class="profile__skill-badge badge badge--pill badge--white-dark text-medium text-normal xs-mbh0 skill-selected">{{language}}</span>
                </div>
            </div>
        </div>
    </div>

    <!--
        Review my gists for ideas
        present Node service (maybe xml to json converter for APA
    -->