<div class="panel panel-primary">
    <div class="panel-heading" style="min-height: 40px;"> <h3 class="panel-title pull-left">About Me!</h3> <span class="glyphicon pull-right" ng-click="isCollapsed = !isCollapsed" ng-class="{'glyphicon-chevron-right':isCollapsed, 'glyphicon-chevron-down':!isCollapsed}" aria-hidden="true"></span></div>

    <div class="panel-body" uib-collapse="isCollapsed">
        <div class="row">
            <div class="col-sm-2 user-image-col">
                <a href="https://www.linkedin.com/in/armandomusto"><img src="https://www.gravatar.com/avatar/b7cf4d5a166284d7f2cb1b71c3e1ccdb"></a>
            </div>
            <div class="col-sm-8">
                <p><strong>Armando Musto - Full stack javascript developer <a href="mailto:armando.musto@gmail.com">armando.musto@gmail.com</a></strong></p>
                <a href="assets/armando musto - Lead developer.docx"><button type="button" class="btn btn-primary btn-xs" style="margin-right:10px;">Download resume</button></a>
                <a href="https://www.linkedin.com/in/armandomusto"><img src="assets/linkedin.png"></a>
            </div>
            <div class="col-sm-12 user-description">
                <p>Lead developer with over 15 years experience developing in a wide-range of environments. Focus is building web based systems, having designed/built solutions in a wide variety of business models.</p>
                <p>As a developer I strive to offer a semantic approach, incorporating OOP best practices and what can be agreed is the ideal technical stack as it might apply to the a client's and project's particular needs.</p>
                <p>Recently my focus is in the advanced UI development world, mainly involving Javascript, Node and Angular driven solutions. I am working on redefining how I think we view the UI developers role.</p>
            </div>
        </div>
    </div>
</div>