html, body {
  height: 100%;
  margin: 0;
}

.layout {
  /** margin: 20px; **/
  /** padding: 20px; **/
  /**border: 1px solid #DDD;**/
}

.header-device {
  color: white
}

.content {
  min-height: 100%;
}
.content-inside {
  float: left;
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
}

.page-container {
  float:left;
  width:100%;
  margin: 5px;
}

.chart-container {
  float:left;
  margin: 5px;
  padding: 2px;
  border: 1px solid;
  height: 300px;
  width:300px
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.footer {
    float: left;
    height: 50px;
    margin-top: -50px;
}
