.App {
  text-align: center;
  background-color: #DAE3E6;
  min-height: 100vh;

  .App-header {
    align-items: center;
    background-color: #F5F5F5;
    color: black;
    display: flex;
    font-size: calc(10px + 2vmin);
    flex-direction: column;
    height: 250px;
    justify-content: center;
    margin-bottom: 50px;
    min-height: 100px;

    .col {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      .profile-content {
        color: #49515a;
        font-size: 38px;
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: left;

        .name {
          color: #49515a;
          font-size: 38px;
          margin-bottom: 5px;
          margin-top: 30px;
        }
      }

      .header-profile-image {
        height: 200px;
        margin-left: 30px;
      }
    }
  }

  .main-container {
    min-height: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.App-link {
  color: #61dafb;
}

.content-card {
  background-color: #FFFFFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
