// Override default variables before the import
//$body-bg: #000;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700!important;
  color: #778492;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//@import './assets/fontawesome/css/all.css';

//@import 'assets/plugins/bootstrap/css/bootstrap.min.css';

//<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

//<link rel="stylesheet" href="assets/plugins/github-calendar/dist/github-calendar-responsive.css">
//<!-- github activity css -->
//<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
//<link rel="stylesheet" href="assets/plugins/github-activity/src/github-activity.css">
//
//<!-- Theme CSS -->
//<link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
